<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Project</title>
</head>
<body>
<form method="post" action="/login">
    <div>
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" >
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password">
    </div>
    <div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>
</body>
</html>